---
layout: default
title: User support
konqi: assets/img/konqi-docbook.png
sorted: 4
plateforms:
  - name: UserBase Wiki
    description: >
      Got lost in the features? Want to know how to install and use connect?
      Having trouble with some features? The UserBase Wiki is a great place
      to start.&nbsp;It provides information for end users on how to use and
      configure KDE Connect.

    image:
      webp: assets/img/userbase2.webp
      png: assets/img/userbase2.png
    learn-more:
      text: UserBase Wiki
      link: https://userbase.kde.org/KDEConnect
  - name: KDE Connect Wiki
    description: >
      Has everything that you need support on. Developer or normal user.
      From Installation to Development. Even troubleshooting.

    image:
      webp: assets/img/wikiuser.webp
      png: assets/img/wikiuser.png
    learn-more:
      text: Connect Wiki
      link: https://community.kde.org/KDEConnect
 # - name: Handbook
 #   description: >
 #     Connect provides various features. Read our handbook to get to know KDE Connect.

 #   image:
 #     webp: assets/img/handbook.webp
 #     png: assets/img/handbook.png
 #   learn-more:
 #     text: Handbook
 #     link: https://docs.kde.org/index.php?application=kdeconnect-kde&amp;language=en
  - name: Forums
    description: >
      Having an issue or want to discuss a problem. Why not do it on the
      Forums?Maybe someone has already solved a similar problem. And if not,
      feel free to ask there!
    image:
      webp: assets/img/forum.webp
      png: assets/img/forum.png
    learn-more:
      text: Forums
      link: https://forum.kde.org/
  - name: Found a Bug? Request a new feature?
    description: >
      Bugs always happen and we need to fix it. Connect has many features
      and we can add more. Both of these can happen with a little help from
      you. You can file bugs and new feature requests on our Bugzilla.
      Developers can start working on it.

    image:
      webp: assets/img/features.webp
      png: assets/img/features.png
    learn-more:
      text: Bugzilla
      link: https://bugs.kde.org/
  - name: Mailing List
    description: >
      Still can't resolve the issue. Why not get in touch through email?
      Developers and other users including enthusiasts can help you out.
    image:
      webp: assets/img/mailinglist.webp
      png: assets/img/mailinglist.png
    learn-more:
      text: Mailing List
      link: https://mail.kde.org/mailman/listinfo/kdeconnect
---

<section class="topkonqi">
  
  <h3 class="p-4">This is the help you need.</h3>

  <picture>
    <source srcset="assets/img/usersupportheader.webp" type="image/webp" />
    <source srcset="assets/img/usersupportheader.png" type="image/png" />
    <img
      alt="User Support"
      class="img-fluid"
      src="assets/img/usersupportheader.png"
    />
  </picture>
</section>

<section id="plateform" class="container">
  {% for plateform in page.plateforms %}
  <div class="block pt-4 pb-4 OSBlock">
    <div class="kAppInfo">
      <div class="kAppInfo-content">
        <h2 class="down-head m-3">{{ plateform.name }}</h2>
        <p class="down-par m-3">
          {{ plateform.description }}
        </p>
        <a
          class="button learn-more getbutton m-3"
          href="{{ plateform.learn-more.link }}"
        >
          {{ plateform.learn-more.text }}
        </a>
      </div>

      {% if plateform.image-dark %}
      <picture>
        <source
          media="(prefers-color-scheme: dark)"
          srcset="{{ plateform.image-dark.webp }}"
        />
        <source
          media="(prefers-color-scheme: dark)"
          srcset="{{ plateform.image-dark.png }}"
        />
        <source
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
          srcset="{{ plateform.image.webp }}"
        />
        <source
          media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
          srcset="{{ plateform.image.png }}"
        />
        <img
          class="img-fluid"
          src="{{ plateform.image.png }}"
          alt="{{ plateform.name }}"
        />
      </picture>
      {% else %}
      <picture>
        <source srcset="{{ plateform.image.webp }}" type="image/webp" />
        <source srcset="{{ plateform.image.png }}" type="image/png" />
        <img
          alt="{{ plateform.name }}"
          class="img-fluid"
          src="{{ plateform.image.png }}"
        />
      </picture>
      {% endif%}
    </div>
  </div>
  {% endfor %}
</section>
